<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/support}">

<div layout:fragment="support-content">
    <div th:object="${notice}">
        <h1 th:text="'공지사항 수정'">공지사항 수정</h1>
        <div>
            <label for="title" th:for="title">제목</label>
            <input type="text" name="title" id="title"
                th:type="text" th:name="title" th:id="title" th:value="*{title}" />
            <div th:class="title-error" th:id="title-error"></div>
        </div>
        <div>
            <label for="content" th:for="content">내용</label>
            <textarea name="content" id="content"
                th:name="content" th:id="content" th:text="*{content}"></textarea>
            <div th:class="content-error" th:id="content-error"></div>
        </div>
    </div>
    <div>
        <button th:onclick="updateNotice([[${notice.id}]])">수정</button>
        <button th:onclick="|location.href='@{/notices}'|">뒤로가기</button>
    </div>
</div>
</html>