<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/support}">
<section layout:fragment="support-content">
    <article th:class="content_wrap">
        <div th:class="main_content_title">
            <h1>FAQ 정보 수정</h1>
        </div>

        <div th:class="content" th:object="${faq}">
            <div th:class="row">
                <label th:for="category">카테고리</label>
                <div th:class="col">
                    <select th:class="form-select" th:name="category" id="category" th:id="category" required>
                        <option th:value="${null}" th:text="선택">선택</option>
                        <option th:each="entry : ${category.entrySet()}"
                                th:value="${entry.key}"
                                th:text="${entry.value}"
                                th:selected="${entry.key == faq.category}">이용</option>
                    </select>

                    <div th:class="error_wrap">
                        <span th:class="category_error" th:id="category-error"></span>
                    </div>
                </div>
            </div>

            <div th:class="row">
                <label th:for="question">질문 내용</label>
                <div th:class="col">
                    <input th:type="text" th:name="question" id="question" th:id="question" th:value="*{question}" th:maxlength="100" required />

                    <div th:class="error_wrap">
                        <span th:class="question_error" th:id="question-error"></span>
                    </div>
                </div>
            </div>

            <div th:class="row">
                <label th:for="answer">답변 내용</label>
                <div th:class="col">
                    <input th:type="text" th:name="answer" id="answer" th:id="answer" th:value="*{answer}" required>

                    <div th:class="error_wrap">
                        <span th:class="answer_error" th:id="answer-error"></span>
                    </div>
                </div>
            </div>

            <div th:class="'row button_area'">
                <div th:class="col">
                    <button th:onclick="updateFaq([[*{id}]])" th:text="수정">수정</button>
                    <button th:onclick="|location.href='@{/faqs}'|" th:text="목록">목록</button>
                </div>
            </div>
        </div>
    </article>

    <div th:object="${faq}">
        <div>

        </div>
    </div>
</section>
</html>