<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/support}">

<section layout:fragment="support-content">
    <article class="content_wrap">
        <div class="main_content_title">
            <h1>FAQ 정보 수정</h1>
        </div>

        <div class="content_form_area" th:object="${faq}">
            <div class="row">
                <label for="category">카테고리</label>
                <div class="col">
                    <select class="form-select" name="category" id="category" required>
                        <option th:value="${null}">선택</option>
                        <option th:each="entry : ${category.entrySet()}"
                                th:value="${entry.key}"
                                th:text="${entry.value}"
                                th:selected="${entry.key == faq.category}">이용</option>
                    </select>

                    <div class="error_wrap">
                        <span class="category_error" id="category-error"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="question">질문 내용</label>
                <div class="col">
                    <input type="text" name="question" id="question" th:value="*{question}" maxlength="100" required />

                    <div class="error_wrap">
                        <span class="question_error" id="question-error"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="answer">답변 내용</label>
                <div class="col">
                    <textarea id="answer" name="answer" th:text="*{answer}" required></textarea>

                    <div class="error_wrap">
                        <span class="answer_error" id="answer-error"></span>
                    </div>
                </div>
            </div>

            <div class="row button_area">
                <div class="col">
                    <button th:onclick="updateFaq([[*{id}]])">수정</button>
                    <button th:onclick="|location.href='@{/faqs}'|">목록</button>
                </div>
            </div>
        </div>
    </article>
</section>
</html>