<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<div class="member_profile" layout:fragment="content">
    <div class="page_description">
        <h1>비밀번호 재설정</h1>
        <h4>앞으로 사용될 새 비밀번호를 입력하세요.</h4>
    </div>
    <div class="member_profile_content">
        <div class="table-container" th:object="${resetRequest}">
            <table class="table">
                <tbody>
                <tr>
                    <td>이메일</td>
                    <td>
                        <input type="text" id="email" name="email" th:value="*{email}" placeholder="이메일" disabled>
                    </td>
                </tr>
                <tr>
                    <td>새로운 비밀번호</td>
                    <td style="position: relative;">
                        <input type="password" name="newPassword" id="newPassword" th:value="*{password}" placeholder="새로운 비밀번호" onclick="this.select()">
                        <button type="button"
                                onclick="togglePassword('newPassword', this)"
                                style="position: absolute; right: 5px; top: 3px; background: none; border: none; cursor: pointer;">
                            🐵
                        </button>
                    </td>
                </tr>
                <tr>
                    <td/>
                    <td><div id="error-password" class="error-text"></div></td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                    <td style="position: relative;">
                        <input type="password" id="confirmPassword" placeholder="비밀번호 확인">
                        <button type="button"
                                onclick="togglePassword('confirmPassword', this)"
                                style="position: absolute; right: 5px; top: 3px; background: none; border: none; cursor: pointer;">
                            🐵
                        </button>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td>가입경로</td>
                    <td>
                        <input type="hidden" id="providerType" name="providerType"
                               th:value="*{providerType}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="button-container">
            <div class="member-buttons">
                <button th:onclick="|window.location.href='/members/login'|">로그인 화면으로 이동</button>
            </div>
            <div class="member-buttons">
                <button id="btn_mail" th:onclick="resetPassword()">변경하기</button>
            </div>
        </div>
    </div>
</div>
</html>
<th:block th:replace="~{fragments/script-loader :: load('verification')}"></th:block>