<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div class="container" layout:fragment="content">
    <th:block th:if="${session.memberInfo == null}">
        <p>잘못된 접근입니다.</p>
    </th:block>
    <th:block th:if="${session.memberInfo != null}">
        <table class="table" th:object="${profile}">
            <tbody>
            <tr>
                <td>이름</td>
                <td><input type="text" th:field="*{name}" th:placeholder="이름" readonly></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" th:field="*{email}" th:placeholder="이메일" readonly></td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td><input type="text" th:field="*{nickname}" th:placeholder="닉네임" id="nickname"></td>
                <!--                <div type="text" th:errors="*{nickname}"></div>-->
            </tr>
            <tr>
                <td>가입경로</td>
                <td><input type="text" th:field="*{providerType}" th:placeholder="가입경로" readonly></td>
            </tr>
            <tr>
                <td>권한</td>
                <td><input type="text" th:field="*{role}" th:placeholder="권한" readonly></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="updateAccount()">수정</button>
        <button type="button" onclick="deleteAccount()">탈퇴</button>
    </th:block>
    <div><button onclick="redirectToHome()">홈으로 돌아가기</button></div>
</div>
<script th:inline="javascript">
    var profile = /*[[${profile}]]*/'${profile}';
</script>
<script src="/js/member.js"></script>
</html>
