<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header::headerFragment}"></div>

<div layout:fragment="content">

</div>

<div th:replace="~{fragments/footer::footerFragment}"></div>
<script src="/js/member.js"></script>
</body>
</html>