<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Pin-up</title>
</head>
<body>
<div class="header" th:replace="~{fragments/header::headerFragment}"></div>
<div class="content">
    <div layout:fragment="content"></div>
</div>
<div class="footer" th:replace="~{fragments/footer::footerFragment}"></div>
<script th:src="@{/js/member.js}"></script>
<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/store.js}"></script>

<script>
    async function fetchStoreSummaries() {
        try {
            const response = await fetch('/api/stores');

            if (!response.ok) {
                throw new Error('네트워크 응답이 올바르지 않습니다.');
            }

            const stores = await response.json();
            const storeListElement = document.getElementById('store-list');

            // 리스트에 팝업스토어 추가
            stores.forEach(store => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `<div class="store-card">
                                        <img src="${store.imageUrl}" alt="Loading Image"
                                            onerror="this.onerror=null; this.src='/images/loading.png';">
                                        <div class="store-info">
                                            <h3>${store.name}</h3>
                                            <span>~ ${store.endDate}</span>
                                        </div>
<!--                                        <p>${store.description}</p>-->
                                      </div>`;

                listItem.querySelector('.store-card').addEventListener('click', () => {
                    window.location.href = `/stores/${store.id}`;
                });
                storeListElement.appendChild(listItem);
            });
        } catch (error) {
            console.error('팝업스토어 목록을 가져오는 중 오류 발생:', error);
        }
    }

    // 페이지가 로드되면 팝업스토어 목록을 가져옴
    document.addEventListener('DOMContentLoaded', fetchStoreSummaries);
</script>
</body>
</html>