<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <title>Pin-up</title>
  <script type="text/javascript" th:src="@{/js/notice.js}"></script>
  <script type="text/javascript" th:src="@{/js/faq.js}"></script>
  <script type="text/javascript" th:src="@{/js/post.js}"></script>
  <script type="text/javascript" th:src="@{/js/comment.js}"></script>
</head>

<body>
<div layout:fragment="content">

  <nav th:replace="~{fragments/supportNavigate :: support-navigate}"></nav>

  <div layout:fragment="support-content"></div>
</div>
</body>
</html>
