<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/support.css}" />
  <script type="text/javascript" th:src="@{/js/support.js}"></script>
  <script type="text/javascript" th:src="@{/js/notice.js}"></script>
  <script type="text/javascript" th:src="@{/js/faq.js}"></script>
</head>

<main th:class="home_content_wrap" layout:fragment="content">
  <div th:replace="~{fragments/supportNavigate :: support-navigate}"></div>

  <div layout:fragment="support-content"></div>
</main>
<script th:src="@{/js/header.js}"></script>
</html>
