<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="pageStyles">
    <link rel="stylesheet" th:href="@{/css/store_create.css}" />
</th:block>

<div layout:fragment="content">
    <h1>팝업스토어 생성</h1>
    <form name="storeForm" id="storeForm" enctype="multipart/form-data">
        <label>이름: <input type="text" id="name" name="name" required></label><br>
        <label>설명: <textarea type="text" id="description" name="description" rows="4" required></textarea></label><br>
        <label>시작 날짜: <input type="date" id="startDate" name="startDate" required></label><br>
        <label>종료 날짜: <input type="date" id="endDate" name="endDate" required></label><br>
        <label>카테고리:
            <select id="categoryId" name="categoryId" required>
                <option value=""> 카테고리 선택</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </label><br>
        <div id="operatingHoursContainer">
            <label>운영 시간</label>
            <div class="operating-hour">
                <label>
                    <input type="text" name="days" placeholder="요일 (예: 월요일, 월~목)" required>
                </label>
                <label>
                    <input type="time" name="startTimes" required>
                </label>
                <label>
                    <input type="time" name="endTimes" required>
                </label>
                <button type="button" onclick="removeOperatingHour(this)">-</button>
            </div>
        </div>

        <div id="contactContainer">
            <label>상세 정보</label>
            <label>
                <input type="text" name="snsUrl" placeholder="snsUrl">
            </label>
            <label>
                <input type="text" name="websiteUrl" placeholder="websiteUrl">
            </label>
            <label>
                <input type="text" name="contactNumber" placeholder="contactNumber">
            </label>
        </div>
        <button type="button" id="addOperatingHour">+</button>
        <input id="locationId" type="hidden" name="locationId"/>
        <label>우편번호: <input type="text" id="zoneCode" name="zoneCode" readonly required/></label>
        <button type="button" onclick="searchAddress()">주소 검색</button>
        <br>

        <label>주소: <input type="text" id="address" name="address" readonly required/></label>
        <label>상세주소: <input type="text" id="addressDetail" name="addressDetail" required/></label>
        <label></label>
        <label>스토어 이미지 업로드 : <input type="file" name="imageFiles" id="imageFiles" accept="image/*" multiple
                                    required></label><br>
        <div id="previewContainer" style="display: flex; flex-wrap: wrap"></div>
        <input type="hidden" id="thumbnailImage" name="thumbnailImage" />
        <button type="button" id="submitStoreButton" onclick="submitStore()">생성</button>
    </form>
    <a href="/stores">목록으로 돌아가기</a>
</div>

<th:block layout:fragment="pageScripts">
    <script th:inline="javascript">
        localStorage.setItem('KAKAO_API_KEY', /*[[${kakaoMapKey}]]*/);
    </script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <th:block th:replace="~{fragments/script-loader :: load('store-create')}"></th:block>
    <th:block th:replace="~{fragments/script-loader :: load('location')}"></th:block>
</th:block>
</html>
