<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <h1>팝업스토어 생성</h1>
    <form name="storeForm" id="storeForm" enctype="multipart/form-data">
        <label>이름: <input type="text" id="name" name="name" required></label><br>
        <label>설명: <input  type="text" id="description" name="description" required></label><br>
        <label>시작 날짜: <input type="date" id="startDate" name="startDate" required></label><br>
        <label>종료 날짜: <input type="date" id="endDate" name="endDate" required></label><br>
        <label>카테고리:
            <select id="categoryId" name="categoryId" required>
                <option value=""> 카테고리 선택 </option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </label><br>
        <input id="locationId" type="hidden" name="locationId" value="1"/>
        <label>스토어 이미지 업로드 : <input type="file" name="imageFiles" id="imageFiles" accept="image/*" multiple required></label><br>
        <div id="previewContainer" style="display: flex; flex-wrap: wrap"></div>
        <button type="button" onclick="submitStore()">생성</button>
    </form>
    <a href="/stores">목록으로 돌아가기</a>
</div>
</html>
