<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
        <a th:href="@{/stores/create}" class="create-btn">등록</a>
    </div>
    <div class="store-list">
        <div class="store-card" th:each="store : ${stores}">
            <!-- 이미지 -->
            <img th:src="${store.imageUrl}" alt="스토어 이미지" class="store-image"/>

            <!-- 스토어 정보 -->
            <div class="list-store-info">
                <a th:href="@{/stores/{id}(id=${store.id})}" class="list-store-name" th:text="${store.name}"></a>
                <!--                <p class="list-store-location" th:text="${store.location}"></p>-->
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="pageScripts">
    <script th:src="@{/js/location.js}"></script>
    <script th:src="@{/js/store.js}"></script>
</th:block>
</html>