<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/html">

<th:block layout:fragment="pageStyles">
    <link rel="stylesheet" th:href="@{/css/store_list.css}" />
</th:block>

<div layout:fragment="content">
    <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
        <a th:href="@{/stores/create}" class="create-btn">등록</a>
    </div>

    <form method="get" action="/stores">
        <label for="statusFilter">진행 상태 : </label>
        <select name="status" id="statusFilter" onchange="this.form.submit()">
            <option th:value="ALL" th:selected="${selectedStatus == null}">전체</option>
            <option th:each="statusOption : ${T(kr.co.pinup.stores.model.enums.Status).values()}"
                    th:value="${statusOption.name()}"
                    th:text="${statusOption.description}"
                    th:selected="${selectedStatus?.name() == statusOption.name()}">
            </option>
        </select>
    </form>

    <div class="store-list">
        <div th:each="store : ${stores}" class="store-card">
            <div class="store-card-link"
                 th:onclick="|location.href='@{/stores/{id}(id=${store.id})}'|">
                <!-- 이미지 -->
                <img th:src="${store.imageUrl}" alt="스토어 이미지" class="store-image" />

                <!-- 스토어 정보 -->
                <div class="list-store-info">
                    <span class="list-store-name" th:text="${store.name}"></span> </br>
                    <span class="list-store-category" th:text="${store.categoryName}"></span> </br>
                    <div class="list-store-duration">
                        <span th:text="${store.startDate}"></span> ~ <span th:text="${store.endDate}"></span>
                    </div>
                    <p class="list-store-location">🚩 <span th:text="${store.district}"></span>
                    </p>
                    <p class="list-store-status" th:text="${store.status.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="pageScripts">
    <th:block th:replace="~{fragments/script-loader :: load('store')}"></th:block>
</th:block>
</html>