<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
  <div id="__next">
    <div class="wrap type_home">
      <div class="content">
        <div class="container">
          <div class="d-flex justify-content-center">
          <form  id="postForm" enctype="multipart/form-data">


            <!-- 이미지 미리보기 -->
            <h3>업로드 사진</h3>
            <div class="row preview-box" id="previewContainer"></div>

            <!-- 이미지 업로드 -->
            <div class="row">
              <label class="col-2 col-form-label">이미지</label>
              <div class="col-10 d-flex align-items-center">
                <input type="file" id="images" name="images" multiple accept="image/*" style="display: none;" onchange="fileCheck(event)">
                <label class="btn-upload col-6" onclick="fileUpload()">파일 첨부</label>
                <span id="fileName">선택된 파일 없음</span>
              </div>
            </div>

            <!-- 제목 -->
            <div class="row">
              <label for="title" class="col-2 col-form-label">게시판 명</label>
              <div class="col-10">
                <input type="text" class="form-control" id="title" name="title" required maxlength="100">
              </div>
            </div>

            <!-- 추가 설명 -->
            <div class="row">
              <label for="content" class="col-2 col-form-label">추가 설명</label>
              <div class="col-10">
                <textarea id="content" name="content" class="form-control"></textarea>
              </div>
            </div>
            <div class="btn_right">
              <button class="btn btn-dark" type="button" onclick="submitPost()">등록 요청</button>
            </div>

          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
