<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/support}">

<div layout:fragment="support-content">
<a th:href="@{/post/list/{storeid}(storeid=${post.storeId})}">Back to Posts List</a>

<h1>Post Detail</h1>
<div th:text="*{#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></div>
<hr>

<div>
    <h2 th:text="${post != null ? post.title : 'No Title'}"></h2>
    <p th:text="${post != null ? post.content : 'No Content'}"></p>
</div>

<hr>

<h3>Images</h3>
<div>
    <ul>
        <th:block th:each="image : ${post.postImages}">
            <li>
                <img th:src="${image.s3Url}" alt="Post Image" width="300px"/>
            </li>
        </th:block>
    </ul>
</div>

<hr>

<div>
    <button th:onclick="|location.href='@{/post/update/{id}(id=${post.id})}'|">수정</button>
    <button th:onclick="removePost([[${post.id}]], [[${post.storeId}]])">삭제</button>
</div>

<hr>

<h3>Comments</h3>
<div id="comment-section">
    <ul id="comment-list">
        <th:block th:each="comment : ${post.comments}">
            <li data-id="${comment.id}">
                <p th:text="${comment.content}"></p>
                <button type="button" class="delete-comment-btn" th:data-comment-id="${comment.id}">삭제</button>
                <div th:text="*{#temporals.format(comment.createdAt, 'yyyy-MM-dd')}"></div>
            </li>
        </th:block>
    </ul>
</div>

    <div id="add-comment">
        <form id="comment-form">
            <input type="text" name="content" placeholder="댓글을 입력하세요" required />
            <button type="submit" th:data-post-id="${post.id}">댓글 추가</button>
        </form>
    </div>

</div>
</html>
