<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

<h1>Update Post</h1>

<form id="updatePostForm" enctype="multipart/form-data">
  <input type="hidden" name="postId" th:value="${post?.id}" />
  <input type="hidden" name="storeId" value="1" />
  <input type="hidden" name="userId" value="1" />

  <div>
    <h3>Current Images</h3>
    <input type="hidden" id="imagesToDelete" name="imagesToDelete" th:value="${imagesToDelete != null ? imagesToDelete : ''}" />
    <ul>
      <th:block th:each="image : ${images}">
        <li>
          <img th:src="${image.s3Url}" alt="Post Image" width="300px"/>
          <input type="checkbox" name="imagesToDelete" th:value="${image.s3Url}"
                 th:data-image-url="${image.s3Url}" onclick="toggleImageToDelete(this)"/>
        </li>
      </th:block>
    </ul>
  </div>

  <label for="title">Title</label>
  <input type="text" th:field="*{post.title}" id="title" name="title" required="true"/>

  <br>

  <label for="content">Content</label>
  <textarea th:field="*{post.content}" id="content" name="content" required="true"></textarea>

  <br>

  <label for="images">Upload New Images</label>
  <input type="file" name="images" id="images" multiple="multiple" />

  <br>

  <button type="submit">Update</button>
</form>

</div>
</html>
