<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts List</title>
</head>
<body>
<h1>Posts List</h1>

<!-- 게시물 작성 버튼 -->
<button onclick="location.href='/post/create'">Write New Post</button>

<!-- 게시물 리스트 -->
<ul>
    <th:block th:each="post : ${posts}">
        <li>
            <!-- 썸네일 이미지 -->
            <img th:src="${post.thumbnail}" alt="Thumbnail" width="100px" height="100px"/>

            <!-- 게시물 제목 (상세보기 링크) -->
            <a th:href="@{'/post/' + ${post.id}}">
                <span th:text="${post.title}"></span>
            </a>

        </li>
    </th:block>
</ul>
</body>
</html>
