<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <th:block th:if="${session.userInfo == null}">
        <p>잘못된 접근입니다.</p>
    </th:block>
    <th:block th:if="${session.userInfo != null}">
        <table class="table" th:object="${profile}">
            <tbody>
            <tr>
                <td>이름</td>
                <td><input type="text" th:field="*{name}" readonly></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" th:field="*{email}" readonly></td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td><input type="text" th:field="*{nickname}" id="nickname"></td>
            </tr>
            <tr>
                <td>가입경로</td>
                <td><input type="text" th:field="*{providerType}" readonly></td>
            </tr>
            <tr>
                <td>권한</td>
                <td><input type="text" th:field="*{role}" readonly></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="updateAccount()">수정</button>
        <button type="button" onclick="deleteAccount()">탈퇴</button>
    </th:block>
    <form action="/" method="get">
        <button type="submit">홈으로 돌아가기</button>
    </form>
</div>
</html>

<script th:inline="javascript">
    var profile = /*[[${profile}]]*/'${profile}';
</script>
<script src="/js/user.js"></script>
