.wrap main.home_content_wrap {
    padding: 0;
}

/* ✅ support nav area */
.wrap main.home_content_wrap nav {
    width: 70vw;
}
.wrap main.home_content_wrap ul {
    display: flex;
    width: 161px;
    max-width: 322px;
    margin: 0 auto;
}
.wrap main.home_content_wrap ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    text-align: center;
}
.wrap main.home_content_wrap ul li a {
    position: relative;
    display: block;
    padding: 18px 0;
}
.wrap main.home_content_wrap .tab_text {
    font-size: 15px;
    font-weight: 800;
    line-height: 42px;
}
.wrap main.home_content_wrap ul li[aria-selected=true] span {
    position: relative;
    display: inline-block;
}
.wrap main.home_content_wrap ul li[aria-selected=true] span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background-color: #CC2F20;
}

/* ✅ notice list section header area */
.wrap main.home_content_wrap section {
    width: 100%;
    max-width: 1400px;
    margin: 10px auto;
}
.wrap main.home_content_wrap section .header_button {
    text-align: right;
    width: 67vw;
}
.wrap main.home_content_wrap section .header_button button {
    color: #fff;
    background-color: #4F261A;
    font-size: 1rem;
    font-weight: 400;
}

/* ✅ notice list section content_list area */
.wrap main.home_content_wrap section .content_list {
    padding: 10px 0;
    width: 67vw;
}
.wrap main.home_content_wrap .content_list_wrap .content_title {
    position: relative;
    border-bottom: none;
    font-size: initial;
    width: 67vw;
}
.wrap main.home_content_wrap .content_list_wrap .content_title .content_title_area {
    width: 85%;
}
.wrap main.home_content_wrap .content_list_wrap .content_title .content_title_area:hover {
    cursor: pointer;
}
.wrap main.home_content_wrap .content_list_wrap .content_title .content_title_area > :first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap main.home_content_wrap .content_list_wrap .content_title span {
    color: #999;
    font-size: 16px;
    font-weight: normal;
}

/* ✅ notice create section article */
.wrap main.home_content_wrap article.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67vw;
}
.wrap main.home_content_wrap article .main_content_title {
    padding: 1%;
}
.wrap main.home_content_wrap article .main_content_title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.wrap main.home_content_wrap .content_wrap .content_form_area {
    margin: 0 auto;
    width: 70%;
    min-height: 50vh;
}
.wrap main.home_content_wrap .content_wrap .col {
    width: 88%;
}
.wrap main.home_content_wrap .content_wrap .row.button_area {
    width: 100%;
}
.wrap main.home_content_wrap .content_wrap .row.button_area .col {
    width: 100%;
    text-align: right;
}
.wrap main.home_content_wrap .content_wrap .col .error_wrap {
    padding: 10px 13px 0;
}
.wrap main.home_content_wrap .content_wrap .col span {
    color: #cd3852;
}
.wrap main.home_content_wrap .content_wrap label {
    width: 12%;
    padding-top: 10px;
    text-align: center;
}
.wrap main.home_content_wrap .content_wrap .col input, textarea {
    display: block;
    width: 100%;
    height: 35px;
    padding: .375rem .75rem;
    margin-left: .75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}
.wrap main.home_content_wrap .content_wrap .col textarea {
    resize: none;
    height: 280px;
}
.wrap main.home_content_wrap .content_wrap .col textarea::-webkit-scrollbar {
    display: none;
}
.wrap main.home_content_wrap section .col button {
    color: #fff;
    background-color: #4F261A;
}

/* ✅ notice detail section article */
.wrap main.home_content_wrap section .previous_button {
    margin: 10px 10px 20px;
    background: none;
    font-size: 1rem;
    color: #4F261A;
}
.wrap main.home_content_wrap .content_wrap .read {
    width: 100%;
    margin-left: 20px;
}
.wrap main.home_content_wrap .content_wrap .content_title {
    display: block;
    font-weight: normal;
    border: none;
}
.wrap main.home_content_wrap .content_wrap .content_title h1 {
    font-weight: 600;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #d1d9e0;
    overflow-wrap: break-word;
}
.wrap main.home_content_wrap .content_wrap .content_title p {
    font-size: 14px;
    text-align: right;
    margin: 20px 0 0;
    color: #999;
}
.wrap main.home_content_wrap .content_wrap .content_context {
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}
.wrap main.home_content_wrap .content_wrap .content_context p {
    white-space: pre-wrap;
}
.wrap main.home_content_wrap .content_wrap .button_content {
    margin: 64px 0 0;
    text-align: right;
}
.wrap main.home_content_wrap .content_wrap .button_content button {
    color: #fff;
    background-color: #4F261A;
}

/* ✅ faq list section article area */
.wrap .home_content_wrap section article > strong {
    padding-left: 40px;
}
.wrap .home_content_wrap section article p {
    margin-bottom: 14px;
}
.wrap .home_content_wrap section article .content_title_wrap {
    display: block;
}
.wrap .home_content_wrap section article .content_area {
    display: flex;
    align-items: center;
}

/* ✅ faq list section article title area */
.wrap .home_content_wrap section article .content_area .title_area {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
}
.wrap .home_content_wrap section article .content_area .title_area h3 {
    overflow-wrap: anywhere;
}
.wrap .home_content_wrap section article .content_area .title_area i {
    margin-left: auto;
    margin-right: 10px;
}

/* ✅ faq list section article button area */
.wrap .home_content_wrap section article .content_area .desc_content_area, .date_area {
    display: flex;
    align-items: center;
}
.wrap .home_content_wrap section article .content_area .desc_content_area {
    margin-left: auto;
}
.wrap .home_content_wrap section article .content_area .date_area {
    margin-left: auto;
}
.wrap .home_content_wrap section article .content_area .desc_content_area button {
    color: #fff;
    background-color: #4F261A;
    width: 60px;
}
.wrap .home_content_wrap section article .answer_area {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.wrap .home_content_wrap section article .answer_area.expanded {
    height: auto;
}

/* ✅ faq create section article form area */
.wrap .home_content_wrap section article .content_form_area .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    width: 40%;
    margin-left: 0.75rem;
    padding: .375rem 2.25rem .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}