.wrap main.home_content_wrap {
    padding: 0;
}
.wrap main.home_content_wrap section article button {
    color: #fff;
    background-color: #212529;
    margin-left: 20px;
}

/* ✅ support nav area */
.wrap main.home_content_wrap ul {
    display: flex;
    width: 161px;
    max-width: 322px;
    margin: 0 auto;
}
.wrap main.home_content_wrap ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    text-align: center;
}
.wrap main.home_content_wrap ul li a {
    position: relative;
    display: block;
    padding: 18px 0;
}
.wrap main.home_content_wrap .tab_text {
    font-size: 15px;
    font-weight: 800;
    line-height: 42px;
}
.wrap main.home_content_wrap ul li[aria-selected=true] span {
    position: relative;
    display: inline-block;
}
.wrap main.home_content_wrap ul li[aria-selected=true] span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background-color: #000;
}

/* ✅ notice list section header area */
.wrap main.home_content_wrap section {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
}
.wrap main.home_content_wrap section .header_button {
    position: absolute;
    right: 100px;
}
.wrap main.home_content_wrap section .header_button button {
    color: #fff;
    background-color: #212529;
    font-size: 1rem;
    font-weight: 400;
}

/* ✅ notice list section content_list area */
.wrap main.home_content_wrap section .content_list_wrap {
    padding: 20px 0 0;
}
.wrap main.home_content_wrap section .content_list {
    padding: 40px 0;
}
.wrap main.home_content_wrap .content_list_wrap .content_title {
    position: relative;
    border-bottom: none;
}
.wrap main.home_content_wrap .content_list_wrap .content_title strong {
    margin-left: 40px;
    font-size: 18px;
}
.wrap main.home_content_wrap .content_list_wrap .content_title strong:hover {
    cursor: pointer;
}
.wrap main.home_content_wrap .content_list_wrap .content_title span {
    position: absolute;
    right: 60px;
    color: #999;
    font-size: 16px;
    font-weight: normal;
}

/* ✅ notice create section article */
.wrap main.home_content_wrap article.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrap main.home_content_wrap article .main_content_title {
    padding: 1%;
}
.wrap main.home_content_wrap article .main_content_title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.wrap main.home_content_wrap .content_wrap .content {
    margin: 0 auto;
    width: 55%;
    min-height: 50vh;
    font-size: 0.9rem;
}
.wrap main.home_content_wrap .content_wrap .row {
    margin-bottom: 30px;
    justify-content: center;
}
.wrap main.home_content_wrap .content_wrap .col {
    width: 90%;
}
.wrap main.home_content_wrap .content_wrap .row.button_area .col {
    width: 100%;
    text-align: right;
}
.wrap main.home_content_wrap .content_wrap .col .error_wrap {
    padding: 10px 13px 0;
}
.wrap main.home_content_wrap .content_wrap .col span {
    color: #cd3852;
}
.wrap main.home_content_wrap .content_wrap label {
    width: 10%;
    padding-top: 10px;
    text-align: center;
}
.wrap main.home_content_wrap .content_wrap .col input, textarea {
    display: block;
    width: 100%;
    height: 35px;
    padding: .375rem .75rem;
    margin-left: .75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}
.wrap main.home_content_wrap .content_wrap .col textarea {
    resize: none;
    height: 280px;
}
.wrap main.home_content_wrap .content_wrap .col textarea::-webkit-scrollbar {
    display: none;
}
.wrap main.home_content_wrap section .col button:nth-child(2) {
    color: #333;
    background-color: #e0e0e0;
}

/* ✅ notice detail section article */
.wrap main.home_content_wrap section .previous_button {
    margin: 10px 30px 20px;
    background: none;
    font-size: 1rem;
    color: #000;
}
.wrap main.home_content_wrap .content_wrap .read {
    width: 100%;
    margin-left: 20px;
}
.wrap main.home_content_wrap .content_wrap .content_title {
    display: block;
    font-weight: normal;
    border: none;
}
.wrap main.home_content_wrap .content_wrap .content_title h1 {
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #d1d9e0;
}
.wrap main.home_content_wrap .content_wrap .content_title p {
    font-size: 14px;
    text-align: right;
    margin: 20px 0 0;
    color: #999;
}
.wrap main.home_content_wrap .content_wrap .content_context {
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}
.wrap main.home_content_wrap .content_wrap .content_context p {
    white-space: pre;
}
.wrap main.home_content_wrap .content_wrap .button_content {
    margin: 64px 0 0;
    text-align: right;
}
.wrap main.home_content_wrap .content_wrap .button_content button:nth-child(2) {
    color: #000;
    background-color: #e0e0e0;
}

/* ✅ faq list section article area */
.wrap .home_content_wrap section article > strong {
    padding-left: 40px;
}
.wrap .home_content_wrap section article .content_area p {
    padding-left: 40px;
    margin-bottom: 14px;
}
.wrap .home_content_wrap section article .content_area {
    position: relative;
    width: 85%;
}
.wrap .home_content_wrap section article .content_area i {
    padding-left: 50px;
}

/* ✅ faq list section article title area */
.wrap .home_content_wrap section article .content_area .title-area {
    cursor: pointer;
}
.wrap .home_content_wrap section article .content_area .answer_area {
    margin: 20px 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.wrap .home_content_wrap section article .content_area .answer_area.expanded {
    height: auto;
}

/* ✅ faq list section article button area */
.wrap .home_content_wrap section article .content_area .desc_content_area {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 150px;
}
.wrap .home_content_wrap section article .content_area .desc_content_area button:nth-child(2) {
    color: #000;
    background-color: #e0e0e0;
}

/* ✅ faq create section article form area */
.wrap .home_content_wrap section article .content .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    width: 40%;
    margin-left: 0.75rem;
    padding: .375rem 2.25rem .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}