<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<div layout:fragment="content">
    <div th:class="page_description">
        <h1>Main</h1>
        <h4>가장 인기 있는 팝업 스토어</h4>
    </div>
    <div>
        <div class="store-list-container">
            <ul id="store-list">
                <li th:each="store : ${stores}">
                    <img th:src="${store.imageUrl != null ? store.imageUrl : '@{/images/loading.png}'}" alt="Store Image">
                    <a th:href="@{/stores/{id}(id=${store.id})}" th:text="${store.name}"></a>
                    <p th:text="${store.description}"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>