<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <title>Pin-up</title>
</head>
<body>
<div layout:fragment="content">
    <!-- 배너 슬라이드 -->
    <div class="carousel-wrapper">
        <div class="carousel">
            <div class="carousel-inner">
                <ul class="carousel-list">
                    <th:block th:each="i : ${#numbers.sequence(1, 13)}">
                        <li class="carousel-item">
                            <img th:src="@{'/images/pinup_banner_'+${i}+'.jpg'}" alt="Banner Image"/>
                        </li>
                    </th:block>
                </ul>
            </div>

            <button class="slide-button slide-left">‹</button>
            <button class="slide-button slide-right">›</button>
        </div>
    </div>
    <!--    <a th:href="@{/about}" th:class="info-link">🤔 핀업은 어떻게 이용하나요?</a>-->

    <div class="main_page_description">
        <div class="page_description">
            <h1>Popular</h1>
            <div class="title-container">
                <div class="title-left">
                    <h4>가장 인기 있는 팝업 스토어</h4>
                </div>
                <a th:href="@{/stores}" class="more-link">더보기👉</a>
            </div>
        </div>
        <div>
            <div class="store-list-container">
                <ul id="store-list">
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<th:block th:replace="~{fragments/script-loader :: load('index')}"></th:block>